:root {
  font-family: sans-serif;
  font-size: 16px;
  display: flex;
  justify-content: center;

}
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  width: 1000px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1000px) {
  body {
    width: 95%;
  }
}

@media screen and (max-width: 768px) {
  body {
    width: 90%;
  }
}

@media screen and (max-width: 576px) {
  body {
    width: 100%;
    padding: 0 20px;
  }
}
.page {
  box-shadow: 0px 0px 3px gray;
}
.about__page {
  display: flex;
  flex-direction: column;
  gap: 35px;
  padding: 20px 10px;
  position: relative;
}
.about__image {
  position: relative;
  width: 500px;
  height: 325px;
  border-radius: 10px;
  overflow: hidden;
  transition: width 0.2s, height 0.2s ;
}
@media screen and (max-width: 600px) {
  .about__image {
    width: 400px;
    height: 300px;
  }
}
@media screen and (max-width: 440px) {
  .about__image {
    width: 300px;
    height: 200px;
  }
}
.about__info--container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
@media screen and (max-width: 768px) {
  .about__info--container {
    flex-direction: column;
    align-items: center;
  }
}
.about__heading--h1 {
  padding-top: 50px;
  font-size: 2.25rem;
  font-weight: bold;
  padding-left: 50px;
}
.about__heading--h2{
  font-size: 1.5rem;
  font-weight: bold;
  text-indent: 20px;  
}
.about__paragraph {
  display: flex;
  font-size: 1.3rem;
  text-indent: 20px;
  width: calc(100% - 310px);
  text-align: justify;
}
@media screen and (max-width: 768px) {
  .about__paragraph {
    width: 100%;
  }
}

.testbox {
  padding-top: 50px;
  height: 100px;
}