.headerContainer {
  background-color: white;
  color: black;
  padding: 10px;
  width: 1000px;
  box-shadow: 0px 1px 0px rgb(204, 204, 204);
  z-index: 2;
}

.navLinkContainer {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 15px;
}
.navItem {
  all: unset;
  font-size: 1.5rem;
  cursor: pointer;
  &Active {
    font-weight: bold;
  }
}
.navItemActive {
  all: unset;
  font-size: 1.5rem;
  cursor: pointer;
  font-weight: bold;
  color: orange;
}
